<?xml version="1.0" encoding="UTF-8"?>
<default>
    <data>4</data>
    <parity>2</parity>
    <size>64M</size>
    <part>1K</part>
    <update>
        <scheme>
<!--            <type>FO</type>-->
<!--            <type>FL</type>-->
<!--            <type>PL</type>-->
<!--            <type>REPLICATION</type>-->
<!--            <type>REPLICATION_LOG</type>-->
<!--            <type>PARIX</type>-->
            <type>PARIX_LOG</type>
<!--            <type>DDBHW</type>-->
<!--            <type>PWDR</type>-->
        </scheme>
    </update>
    <serves>
        <serve>
            <ip>10.21.76.77</ip>
            <port>9091</port>
            <path>/home/data</path>
        </serve>
        <serve>
            <ip>10.21.76.77</ip>
            <port>9092</port>
            <path>/home/data</path>
        </serve>
        <serve>
            <ip>10.21.76.100</ip>
            <port>9093</port>
            <path>/home/data</path>
        </serve>
        <serve>
            <ip>10.21.76.100</ip>
            <port>9094</port>
            <path>/home/data</path>
        </serve>
        <serve>
            <ip>10.21.76.104</ip>
            <port>9095</port>
            <path>/home/data</path>
        </serve>
        <serve>
            <ip>10.21.76.105</ip>
            <port>9096</port>
            <path>/home/data</path>
        </serve>
    </serves>
</default>
